/* user_registration.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('images (1).jpeg'); /* يمكنك تغيير الصورة إلى صورة الخلفية التي تريدها */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: rgba(19, 19, 19, 0.9); /* استخدم خلفية بيضاء مع شفافية بسيطة لتحسين وضوح النصوص */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #fff;
    font-size: 24px; /* حجم أكبر للعناوين لزيادة وضوحها */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px; /* زيادة المسافة بين النصوص والعناصر */
    color: #fff;
    font-size: 16px; /* حجم خط مناسب للنصوص */
    align-self: flex-start;
}

input[type="text"], input[type="password"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
}

input[type="submit"] {
    background: #007BFF;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background: #0056b3;
}
